@use "../utils/" as *;

.index {
    display: grid;
    grid-template-columns: [full-width-start] minmax(325px, 1fr) auto [full-width-end];
    align-items: start;
    column-gap: 10px;

    padding-inline: 15px;
    padding-block: 30px;

    overflow-x: clip;
}

@view-transition {
    navigation: auto;
}


::view-transition-group(root) {}

.video {
    object-fit: contain;
    filter: url(#blur-and-scale);

    width: 100%;
    height: auto;

    min-height: 425px;

    &__container {
        @include center-flex-column(20px);

        justify-content: flex-start;

        width: 100%;
        height: 100%;
    }

    &__no-video {
        width: 100%;
        height: 100%;

        @include center-flex-column(20px);

        --_border-color: rgb(from var(--color-primary) r g b / 50%);

        border: 2px dotted var(--_border-color);
        border-radius: 6px;

        &.dragging {
            background-color: rgba(128, 128, 128, 25%);
            border-style: dashed;

            --_border-color: var(--color-primary);
        }
    }

    &__no-video-icon {
        font-size: 64px;
    }

    &__no-video-spinner {
        --_size: 64px;
    }

    &__controls {}

    &__progress-thumb {}

    &__progress-bar-chunk {}
}

.video-timestamps {

    max-height: var(--_video-height, 300px);
    overflow-y: auto;

    border-radius: 5px;

    background-color: var(--ts-container-bg);

    padding: 5px;

    z-index: 1;

    &__title {
        background-color: inherit;
        border-radius: inherit;

        position: sticky;

        --_title-padding: 5px;
        padding: var(--_title-padding);
        margin: calc(-1 * var(--_title-padding));

        position: sticky;
        top: calc(-1 * var(--_title-padding));
    }

    &__list {
        margin-top: 25px;

        @include center-flex-column(20px);
        counter-reset: timestamps;
    }

    &__item {
        display: grid;
        grid-template-columns: [full-width-start img-start] auto [img-end timestamps-controls-start] 1fr [timestamps-controls-end full-width-end];
        grid-template-rows: repeat(3, auto);
        column-gap: 20px;
        row-gap: 10px;


        padding: 10px;

        background-color: var(--ts-item-bg);
        border-radius: 5px;

        counter-increment: timestamps;
    }

    &__item-title {
        grid-column: full-width;

        &::before {
            content: "Chapter " counter(timestamps) ": ";
        }
    }

    &__img {
        object-fit: cover;

        height: 55px;

        overflow: hidden;

        border-radius: 5px;

        grid-column: img;
    }

    &__labels-container {
        display: grid;
        grid-template-columns: [full-width-label-start label-start] max-content [label-end input-start] 1fr [input-end full-width-label-end];
        row-gap: 10px;

        grid-column: timestamps-controls;
    }

    &__label {
        display: grid;
        grid-column: full-width-label;
        grid-template-columns: subgrid;
        column-gap: 10px;

        align-items: center;
    }

    &__input {
        padding: 5px 10px;

        border-radius: 100vmax;

        background: var(--ts-input-bg);
    }

    &__remove {

        color: white;
        background-color: red;
        margin-left: auto;

        border-radius: 5px;
        padding: 5px 10px;

        display: grid;
        grid-template-areas: "stack";
        justify-items: stretch;

        width: 50%;

        grid-column: 2;

        &>* {
            grid-area: stack;

        }
    }

    &__remove-text {
        width: 100%;
    }

    &__remove-icon {
        justify-self: flex-start;
        height: 10px;

        margin-top: 3px;
    }
}

.video-timestamp-outputs {
    grid-column: full-width;
}